/*FONT*/
p{
    font-family: 'Poppins', sans-serif;
  }

h1{
    font-family: 'Poppins', sans-serif;
}
/*NAV BAR */
.navbig{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    font-size: 20px;
    position:fixed;
    align-items: flex-end;
    
    
}

.about{
   color: #F19966;
    text-decoration: underline #F19966  3px;
    position: sticky;
}

.design{
    position: sticky;
}

.contact{
    position: sticky;
}

.resume{
    position: sticky;
}


/*HOME PAGE*/
.intro{
    display:flex;
    flex-direction: column;
}

.dBig{
    display: flex;
    
}

.nameBig{
    font-size: 100px;
}

.dBig{
    font-size: 50px ;
    padding-left: 40px;
}

.logo{
    display:flex;
    justify-content: flex-end;
    font-size: 20px;
}

.boxBigb{
    display: flex;
}

/*WORK PAGE*/
/*PROJECT 1*/
.projOne{
    display:flex;
}

.wc_img{
    height: 600px;
    border: solid 1.75px black;
    
}

.sideG_one{
    padding: 300px 200px;
}

.recentW{
    font-size: 50px;
    padding-top: 55px;
    padding-bottom: 30px;
}

#mad_one{
    font-size: 50px;
}

.wc{
    font-size: 20px;
}



.projTwo{
    display: flex;
}
/*ABOUT PAGE*/
.page_container{
    display:flex;
    padding-left: 50px;
}

.top_text{
    display:flex;
    flex-direction: column; 
    padding: 30px;
}

.bot_text{
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: flex-end;
}

.abt{
    font-size: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
/*CONTACT PAGE*/
#last_page{
    padding-top: 50px;
    padding-left: 50px;
    padding-top: 100px;
    font-size: 50px;
}

.last_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}


.thanks{
    font-size: 35px;
    padding-left: 50px;
    padding-right: 50px;
}

